@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

body{
    font-family: 'Roboto Mono', monospace;
}

#homeHeader{
    text-align: center;
    margin: 2%;
}

#homeParag{
    text-align: center;
    font-size: 20px;
    margin: 5%;
}