

.header {
    height: 72px;
    background-color: blanchedalmond;
    display: flex;
    align-items: center;
    padding: 0px 24px;
}

nav li{
    display: inline-block;
    padding: 1px;
    margin-left: 4%;
}

.auth{
    margin-left: auto;
    display: flex;
    margin-right: 3%;
}
#passwordInput{
    padding: 3%;
    margin-right: 8%;
    border-radius: 0.35rem;
    
}
#loginSpan{
    font-size: 22px;
}
#loginSpan:hover{
    cursor: pointer;
}
.navBarUL{
    width: 450px;
}

.brand {
    color: black;
    font-size: 32px;
    text-decoration: none;
    
}

.navBarLinks{
    text-decoration: none;
    color: black;
    font-size: 16px;
}
.navBarLinks:hover{
    font-size: 150%;
    font-weight: bold;
}

.activeClassLinks{
    text-decoration: underline;
}


