
*{
    margin:0;
    padding: 0;
}

.postContainer{
    margin-left: 32px;
    margin-right: 32px;
    
}

.postTitle{
    padding: 1%;
}

.postBody{
    padding: 1%;
}

.trashPostIcons{
    margin-left: 1%;
    font-size:large;
    color: red;
    float: right;
}
.trashPostIcons:hover{
    cursor: pointer;
}

.editPostIcons {
    margin-left: 1%;
    font-size:large;
    float: right;
    color: blue;
}

.editPostIcons:hover{
    cursor: pointer;
}

#titleInput {
    margin-left: 3%;
    width: 300px;
    height: 30px;
}

#bodyInput {
    width: 300px;
    height: 70px;
    margin-left: 3%;
}

#cancelPostButton{
    margin-top: 1%;
    margin-left: 3%;
    background-color: red;
    color: white;
    padding: 0.5% 1%;
    width: 80px;
}
#cancelPostButton:hover{
    cursor: pointer;
}

#savePostButton{
    margin-top: 1%;
    margin-left: 1%;
    background-color: green;
    color: white;
    padding: 0.5% 1%;
    width: 80px;
}
#savePostButton:hover{
    cursor: pointer;
}

#createPostButton {
    margin:1.5% 3%;
    padding: 0.5% 2%;
}
#createPostButton:hover{cursor: pointer;}
#postHeader{
    margin-left: 3%;
}

#postsForm label{
    font-size: 20px;
}
#postsForm input{
    margin: 0.5% 3%;
}